USE [master]
GO
/****** Object:  Database [DBPARKING]    Script Date: 2/2/2024 05:42:39 ******/
CREATE DATABASE [DBPARKING]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PARKING', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER2\MSSQL\DATA\PARKING.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PARKING_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER2\MSSQL\DATA\PARKING_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBPARKING].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBPARKING]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 2/2/2024 05:42:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PARKING_RECORD]    Script Date: 2/2/2024 05:42:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PARKING_RECORD](
	[idParkingRecord] [int] IDENTITY(0,1) NOT NULL,
	[plateNumber] [varchar](10) NULL,
	[isActive] [bit] NULL,
	[arrivalTime] [time](0) NULL,
	[departureTime] [time](0) NULL,
	[parkedTime] [int] NULL,
	[payment] [decimal](5, 2) NULL,
	[creationDate] [datetime] NOT NULL,
	[updateDate] [datetime] NULL,
 CONSTRAINT [PK_PARKING_RECORD] PRIMARY KEY CLUSTERED 
(
	[idParkingRecord] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VEHICLE_REGISTER]    Script Date: 2/2/2024 05:42:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VEHICLE_REGISTER](
	[plateNumber] [varchar](10) NOT NULL,
	[idVehicleType] [int] NULL,
	[creationDate] [datetime] NOT NULL,
	[updateDate] [datetime] NULL,
 CONSTRAINT [PK_VEHICLE_REGISTER] PRIMARY KEY CLUSTERED 
(
	[plateNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VEHICLE_TYPE]    Script Date: 2/2/2024 05:42:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VEHICLE_TYPE](
	[idVehicleType] [int] IDENTITY(0,1) NOT NULL,
	[nameType] [varchar](20) NULL,
	[ratePerMinute] [decimal](5, 2) NULL,
	[creationDate] [datetime] NOT NULL,
	[updateDate] [datetime] NULL,
 CONSTRAINT [PK_VEHICLE_TYPE] PRIMARY KEY CLUSTERED 
(
	[idVehicleType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PARKING_RECORD] ON 

INSERT [dbo].[PARKING_RECORD] ([idParkingRecord], [plateNumber], [isActive], [arrivalTime], [departureTime], [parkedTime], [payment], [creationDate], [updateDate]) VALUES (0, N'O5234S', 1, CAST(N'15:54:12' AS Time), CAST(N'17:15:22' AS Time), 81, CAST(0.00 AS Decimal(5, 2)), CAST(N'2024-02-02T15:54:11.800' AS DateTime), CAST(N'2024-02-02T17:15:21.627' AS DateTime))
INSERT [dbo].[PARKING_RECORD] ([idParkingRecord], [plateNumber], [isActive], [arrivalTime], [departureTime], [parkedTime], [payment], [creationDate], [updateDate]) VALUES (1, N'M879Q', 1, CAST(N'15:55:17' AS Time), CAST(N'17:13:41' AS Time), 78, CAST(39.00 AS Decimal(5, 2)), CAST(N'2024-02-02T15:55:17.170' AS DateTime), CAST(N'2024-02-02T17:13:41.240' AS DateTime))
INSERT [dbo].[PARKING_RECORD] ([idParkingRecord], [plateNumber], [isActive], [arrivalTime], [departureTime], [parkedTime], [payment], [creationDate], [updateDate]) VALUES (2, N'O5234S', 1, CAST(N'17:06:33' AS Time), NULL, NULL, NULL, CAST(N'2024-02-02T17:06:32.550' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[PARKING_RECORD] OFF
GO
INSERT [dbo].[VEHICLE_REGISTER] ([plateNumber], [idVehicleType], [creationDate], [updateDate]) VALUES (N'M879Q', 5, CAST(N'2024-02-02T15:55:17.140' AS DateTime), NULL)
INSERT [dbo].[VEHICLE_REGISTER] ([plateNumber], [idVehicleType], [creationDate], [updateDate]) VALUES (N'O5234S', 3, CAST(N'2024-02-02T13:47:03.880' AS DateTime), CAST(N'2024-02-02T14:14:50.820' AS DateTime))
INSERT [dbo].[VEHICLE_REGISTER] ([plateNumber], [idVehicleType], [creationDate], [updateDate]) VALUES (N'S1234A', 4, CAST(N'2024-02-02T13:58:07.353' AS DateTime), NULL)
GO
SET IDENTITY_INSERT [dbo].[VEHICLE_TYPE] ON 

INSERT [dbo].[VEHICLE_TYPE] ([idVehicleType], [nameType], [ratePerMinute], [creationDate], [updateDate]) VALUES (3, N'oficial', CAST(0.00 AS Decimal(5, 2)), CAST(N'2024-02-01T16:32:22.813' AS DateTime), NULL)
INSERT [dbo].[VEHICLE_TYPE] ([idVehicleType], [nameType], [ratePerMinute], [creationDate], [updateDate]) VALUES (4, N'residente', CAST(0.05 AS Decimal(5, 2)), CAST(N'2024-02-01T16:32:22.813' AS DateTime), NULL)
INSERT [dbo].[VEHICLE_TYPE] ([idVehicleType], [nameType], [ratePerMinute], [creationDate], [updateDate]) VALUES (5, N'no residente', CAST(0.50 AS Decimal(5, 2)), CAST(N'2024-02-01T18:28:13.077' AS DateTime), CAST(N'2024-02-01T18:54:40.500' AS DateTime))
SET IDENTITY_INSERT [dbo].[VEHICLE_TYPE] OFF
GO
ALTER TABLE [dbo].[PARKING_RECORD]  WITH CHECK ADD  CONSTRAINT [FK_PARKING_RECORD_VEHICLE_REGISTER] FOREIGN KEY([plateNumber])
REFERENCES [dbo].[VEHICLE_REGISTER] ([plateNumber])
GO
ALTER TABLE [dbo].[PARKING_RECORD] CHECK CONSTRAINT [FK_PARKING_RECORD_VEHICLE_REGISTER]
GO
ALTER TABLE [dbo].[VEHICLE_REGISTER]  WITH CHECK ADD  CONSTRAINT [FK_VEHICLE_REGISTER_VEHICLE_TYPE] FOREIGN KEY([idVehicleType])
REFERENCES [dbo].[VEHICLE_TYPE] ([idVehicleType])
GO
ALTER TABLE [dbo].[VEHICLE_REGISTER] CHECK CONSTRAINT [FK_VEHICLE_REGISTER_VEHICLE_TYPE]
GO
USE [master]
GO
